@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #F6F7F8;
}

.float-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  position: fixed;
  bottom: 80px; /* Ajuste o valor para aumentar a distância do fundo */
  right: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.float-btn:hover {
  background-color: #1ebea5;
}

.float-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.75);
}